In [6]:
import pandas as pd
import numpy as np
import tqdm
import ast
import plotly
import plotly.express as px
#$!pip install ipykernel
#!pip install --upgrade nbformat
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
data = pd.read_csv('btc_combined_1.csv')
data.timestamp = pd.to_datetime(data.timestamp)

In [24]:
data

,bids,asks,timestamp,best_bid,best_ask,mid_price,returns,day,buy,sell
0,"[['28103.76000000', '0.38924000'], ['28103.660...","[['28103.77000000', '0.87569000'], ['28103.780...",2023-05-02 07:20:32.984272640,28103.76,28103.77,28103.765,NaN,0,28433.552318,28825.357682
1,"[['28103.76000000', '0.46024000'], ['28103.660...","[['28103.77000000', '0.64190000'], ['28103.780...",2023-05-02 07:20:33.985918208,28103.76,28103.77,28103.765,0.000000,0,28433.552318,28825.357682
2,"[['28099.15000000', '1.59840000'], ['28099.020...","[['28099.16000000', '3.12237000'], ['28099.170...",2023-05-02 07:20:34.986468864,28099.15,28099.16,28099.155,-0.016403,0,28433.552318,28825.357682
3,"[['28099.15000000', '1.98106000'], ['28099.020...","[['28099.16000000', '3.08794000'], ['28099.170...",2023-05-02 07:20:35.993249024,28099.15,28099.16,28099.155,0.000000,0,28433.552318,28825.357682
4,"[['28099.15000000', '2.08106000'], ['28099.120...","[['28099.16000000', '3.81550000'], ['28099.170...",2023-05-02 07:20:36.987965184,28099.15,28099.16,28099.155,0.000000,0,28433.552318,28825.357682
...,...,...,...,...,...,...,...,...,...,...
72498,"[['28527.32000000', '2.45424000'], ['28527.310...","[['28527.33000000', '0.46522000'], ['28527.340...",2023-05-03 03:30:45.136960512,28527.32,28527.33,28527.325,0.000000,0,28433.552318,28825.357682
72499,"[['28527.32000000', '0.01233000'], ['28525.670...","[['28527.33000000', '1.84540000'], ['28527.340...",2023-05-03 03:30:46.138214144,28527.32,28527.33,28527.325,0.000000,0,28433.552318,28825.357682
72500,"[['28527.32000000', '0.00845000'], ['28525.670...","[['28527.33000000', '1.84540000'], ['28527.340...",2023-05-03 03:30:47.137666560,28527.32,28527.33,28527.325,0.000000,0,28433.552318,28825.357682
72501,"[['28527.32000000', '0.00845000'], ['28525.670...","[['28527.33000000', '1.84540000'], ['28527.340...",2023-05-03 03:30:48.141608192,28527.32,28527.33,28527.325,0.000000,0,28433.552318,28825.357682
72502,"[['28525.93000000', '0.92254000'], ['28525.660...","[['28525.94000000', '3.22931000'], ['28527.210...",2023-05-03 03:30:49.139761408,28525.93,28525.94,28525.935,-0.004873,0,28433.552318,28825.357682

In [31]:
candles = pd.read_csv('candles_.csv')

In [32]:
candles

,Unnamed: 0,index,bids,asks,timestamp,best_bid,best_ask,mid_price,returns,day,...,sell_take_profit,position,pnl,PnL,impacted_price,volume,traded,participation,ideal_position,ideal_pnl
0,0,86268,"[['28629.45000000', '3.76744000'], ['28628.960...","[['28629.46000000', '2.15412000'], ['28629.810...",2023-05-03 07:20:33.158957312,28629.45,28629.46,28629.455,0.0,1,...,28727.406341,0.000000e+00,0,NaN,NaN,70.27737,0.0,0.0,0,0.000
1,1,86269,"[['28629.45000000', '0.47884000'], ['28628.700...","[['28629.46000000', '1.87204000'], ['28629.810...",2023-05-03 07:20:34.160247808,28629.45,28629.46,28629.455,0.0,1,...,28727.406341,0.000000e+00,0,NaN,NaN,62.97544,0.0,0.0,0,0.000
2,2,86270,"[['28629.45000000', '0.47884000'], ['28628.700...","[['28629.46000000', '2.13002000'], ['28629.810...",2023-05-03 07:20:35.162092800,28629.45,28629.46,28629.455,0.0,1,...,28727.406341,0.000000e+00,0,0.000000,NaN,69.32184,0.0,0.0,0,0.000
3,3,86271,"[['28629.45000000', '0.43914000'], ['28628.700...","[['28629.46000000', '2.13002000'], ['28629.810...",2023-05-03 07:20:36.159456512,28629.45,28629.46,28629.455,0.0,1,...,28727.406341,0.000000e+00,0,0.000000,NaN,69.14976,0.0,0.0,0,0.000
4,4,86272,"[['28629.45000000', '2.23351000'], ['28629.400...","[['28629.46000000', '2.12444000'], ['28629.810...",2023-05-03 07:20:37.649022720,28629.45,28629.46,28629.455,0.0,1,...,28727.406341,0.000000e+00,0,0.000000,NaN,70.44764,0.0,0.0,0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158527,158527,244795,"[['29225.73000000', '1.31605000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:56.419591168,29225.73,29225.74,29225.735,0.0,2,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,45.83004,0.0,0.0,0,1710.015
158528,158528,244796,"[['29225.73000000', '1.31605000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:57.422107648,29225.73,29225.74,29225.735,0.0,2,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,48.59490,0.0,0.0,-3,1710.015
158529,158529,244797,"[['29225.73000000', '1.31852000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:58.419087616,29225.73,29225.74,29225.735,0.0,2,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,41.77823,0.0,0.0,0,1710.015
158530,158530,244798,"[['29225.73000000', '1.48612000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:59.423099904,29225.73,29225.74,29225.735,0.0,2,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,39.23988,0.0,0.0,-3,1710.015
158531,158531,244799,"[['29225.73000000', '1.28348000'], ['29225.710...","[['29225.74000000', '2.36190000'], ['29225.750...",2023-05-05 05:04:00.424325120,29225.73,29225.74,29225.735,0.0,2,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,46.70146,NaN,NaN,0,1710.015

In [4]:
'''
orderbook_list = []
for i in range(68):
    orderbook = pd.read_csv(f"order_book_{i}.csv")
    orderbook.timestamp = pd.to_datetime(orderbook.timestamp * 10**9)
    orderbook_list.append(orderbook)

data = pd.concat(orderbook_list).drop_duplicates().reset_index(drop=True).drop('lastUpdateId', axis = 1)
data['best_ask'] = data.asks.apply(lambda x: float(ast.literal_eval(x)[0][0]))
data['best_bid'] = data.bids.apply(lambda x: float(ast.literal_eval(x)[0][0]))
data
'''

'\norderbook_list = []\nfor i in range(68):\n    orderbook = pd.read_csv(f"order_book_{i}.csv")\n    orderbook.timestamp = pd.to_datetime(orderbook.timestamp * 10**9)\n    orderbook_list.append(orderbook)\n\ndata = pd.concat(orderbook_list).drop_duplicates().reset_index(drop=True).drop(\'lastUpdateId\', axis = 1)\ndata[\'best_ask\'] = data.asks.apply(lambda x: float(ast.literal_eval(x)[0][0]))\ndata[\'best_bid\'] = data.bids.apply(lambda x: float(ast.literal_eval(x)[0][0]))\ndata\n'

In [22]:
data.to_csv('btc_combined_1.csv',index=False)

In [33]:
def execute_buy(candles, cash, i, to_buy):
    bids = candles.loc[i, 'bids']
    bids = np.array(ast.literal_eval(bids))
    j = 0
    bought = 0
    spent = 0

    #for j in range(len(bids)):
    #    if bought + float(bids[j, 1]) < to_buy:
    #        break
    #    bought += float(bids[j, 1])
    #    spent += float(bids[j, 0]) * float(bids[j, 1])
        
    while bought + float(bids[j, 1]) < to_buy:
        bought += float(bids[j, 1])
        spent += float(bids[j, 0]) * float(bids[j, 1])
        #j += 1


    candles.loc[i, 'impacted_price'] = float(bids[j, 0])



    cash -= spent 
    candles.loc[i, 'position'] += bought

    return candles, cash

def execute_sell(candles, cash, i, to_sell):
    asks = candles.loc[i, 'asks']
    asks = np.array(ast.literal_eval(asks))  
    j = 0
    sold = 0
    gained = 0

#    for j in range(len(asks)):
##        if sold + float(asks[j, 1]) < to_sell:
#            break
#        sold += float(asks[j, 1])
#        gained += float(asks[j, 0]) * float(asks[j, 1])

    while sold + float(asks[j, 1]) < to_sell:
        sold += float(asks[j, 1])
        gained += float(asks[j, 0]) * float(asks[j, 1])
        #j += 1


    candles.loc[i, 'impacted_price'] = float(asks[j, 0])

    
    cash += gained 
    candles.loc[i, 'position'] -= sold  

    return candles, cash

In [34]:
def calculate_position(candles):

    bought, sold = 0, 0
    cash = 0

    for i in tqdm.tqdm(range(len(candles))):


        if i >= 2:
            candles.loc[i, 'position'] = candles.loc[i-1, 'position']
            candles.loc[i, 'PnL'] = candles.loc[i, 'position'] * price + cash

        price = candles.loc[i, 'mid_price']
        position = candles.loc[i, 'position']

        if price < candles.loc[i,'buy_stop_loss'] and position > 0:
            candles, cash =  execute_sell(candles, cash, i, to_sell = position)
            continue                                         
        
        if price > candles.loc[i, 'buy_take_profit'] and position > 0:
            candles, cash =  execute_sell(candles, cash, i, to_sell = position)
            #continue        
                                                    
        if price <  candles.loc[i, 'buy'] and position < 3 and candles.loc[i, 'buy'] > 0.01:
            candles, cash =  execute_buy(candles, cash, i, to_buy = 3 - position)
            #continue
                                
        if price > candles.loc[i,'sell_stop_loss'] and position < 0:
            candles, cash =  execute_buy(candles, cash, i, to_buy = abs(position))
            continue                                                            
        
        if price < candles.loc[i, 'sell_take_profit'] and position < 0:
            candles, cash =  execute_buy(candles, cash, i, to_buy = abs(position))
            #continue 
                                     
        
        if price >  candles.loc[i, 'sell'] and position > -3 and candles.loc[i, 'sell'] > 0.01:               
            candles, cash =  execute_sell(candles, cash, i, to_sell = 3 - abs(position))
            #continue

    return candles

In [13]:
ask_vol = lambda x: sum([float(y) for y in np.array(ast.literal_eval(x)) [:, 1]])
candles['volume'] = candles['bids'].apply(ask_vol) + candles['asks'].apply(ask_vol)
candles['traded'] = abs(candles['position'] - candles['position'].shift(-1))
candles['participation'] = candles['traded']/candles['volume']

In [126]:
fig = px.scatter(candles, x = "timestamp",y = "participation")
fig.write_html("participation.html")

In [117]:
fig = px.scatter(candles, x = "timestamp",y = ["mid_price", "impacted_price"])
fig.write_html("price_impact.html")

In [19]:
data

,bids,asks,timestamp,best_bid,best_ask,mid_price,returns,day,buy,sell,buy_stop_loss,buy_take_profit,sell_stop_loss,sell_take_profit,position,pnl
0,"[['28103.76000000', '0.38924000'], ['28103.660...","[['28103.77000000', '0.87569000'], ['28103.780...",2023-05-02 07:20:32.984272640,28103.76,28103.77,28103.765,NaN,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
1,"[['28103.76000000', '0.46024000'], ['28103.660...","[['28103.77000000', '0.64190000'], ['28103.780...",2023-05-02 07:20:33.985918208,28103.76,28103.77,28103.765,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
2,"[['28099.15000000', '1.59840000'], ['28099.020...","[['28099.16000000', '3.12237000'], ['28099.170...",2023-05-02 07:20:34.986468864,28099.15,28099.16,28099.155,-0.016403,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
3,"[['28099.15000000', '1.98106000'], ['28099.020...","[['28099.16000000', '3.08794000'], ['28099.170...",2023-05-02 07:20:35.993249024,28099.15,28099.16,28099.155,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
4,"[['28099.15000000', '2.08106000'], ['28099.120...","[['28099.16000000', '3.81550000'], ['28099.170...",2023-05-02 07:20:36.987965184,28099.15,28099.16,28099.155,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72498,"[['28527.32000000', '2.45424000'], ['28527.310...","[['28527.33000000', '0.46522000'], ['28527.340...",2023-05-03 03:30:45.136960512,28527.32,28527.33,28527.325,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
72499,"[['28527.32000000', '0.01233000'], ['28525.670...","[['28527.33000000', '1.84540000'], ['28527.340...",2023-05-03 03:30:46.138214144,28527.32,28527.33,28527.325,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
72500,"[['28527.32000000', '0.00845000'], ['28525.670...","[['28527.33000000', '1.84540000'], ['28527.340...",2023-05-03 03:30:47.137666560,28527.32,28527.33,28527.325,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
72501,"[['28527.32000000', '0.00845000'], ['28525.670...","[['28527.33000000', '1.84540000'], ['28527.340...",2023-05-03 03:30:48.141608192,28527.32,28527.33,28527.325,0.000000,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0
72502,"[['28525.93000000', '0.92254000'], ['28525.660...","[['28525.94000000', '3.22931000'], ['28527.210...",2023-05-03 03:30:49.139761408,28525.93,28525.94,28525.935,-0.004873,0,0.0,0.0,27909.154204,28423.138201,29142.715796,28628.731799,0,0

In [25]:
# data['returns'] = data.mid_price.pct_change()*100
# first_time = data.iloc[0].timestamp
# data['day'] = (data.timestamp - first_time).dt.days
# benchmark_std = data['returns'].loc[data.day == 0].std()
# close_price = data['mid_price'].loc[data.day == 0].iloc[-1]


# k = 1
# data['buy_stop_loss'] = close_price * (1 - 3 * k * benchmark_std)
# data['buy_take_profit'] = close_price * (1 - 0.5 * k * benchmark_std)
# data['buy'] = close_price * (1 - k * benchmark_std)
# data['sell_stop_loss'] = close_price * (1 + 3 * k * benchmark_std)
# data['sell_take_profit'] = close_price * (1 + 0.5 * k * benchmark_std)
# data['sell'] = close_price * (1 + k * benchmark_std)

# data['buy'].loc[data.day == 0] = 0
# data['sell'].loc[data.day == 0] = 0
# data['position'] = 0
# data['pnl'] = 0

# candles = calculate_position(data.loc[data.day != 0].reset_index())

# candles.to_csv("pnl_results.csv")

0it [00:00, ?it/s]

In [35]:
candles['ideal_position'] = 0
candles['ideal_pnl'] = 0

def calculate_position_ideal(candles):


    cash = 0

    for i in tqdm.tqdm(range(len(candles))):


        if i >= 2:
            candles.loc[i, 'ideal_position'] = candles.loc[i-1, 'ideal_position']
            candles.loc[i, 'ideal_pnl'] = candles.loc[i, 'ideal_position'] * price + cash

        price = candles.loc[i, 'mid_price']
        position = candles.loc[i, 'ideal_position']

        if price < candles.loc[i,'buy_stop_loss'] and position > 0:
           cash += position * price
           candles.loc[i, 'ideal_position'] -= position
           continue     
        
        if price > candles.loc[i, 'buy_take_profit'] and position > 0:
           cash += position * price
           candles.loc[i, 'ideal_position'] -= position     
                                                    
        if price <  candles.loc[i, 'buy'] and position < 2.9 and candles.loc[i, 'buy'] > 0.01:
           cash -= (3 - position) * price
           candles.loc[i, 'ideal_position'] += 3 - position 
           position = 3           

                                
        if price > candles.loc[i,'sell_stop_loss'] and position < 0:
            cash -= abs(position * price)
            candles.loc[i, 'ideal_position'] = 0
            continue                                      
        
        if price < candles.loc[i, 'sell_take_profit'] and position < 0:
            cash -= abs(position * price)
            candles.loc[i, 'ideal_position'] = 0
                                     
        
        if price >  candles.loc[i, 'sell'] and position > -2.9 and candles.loc[i, 'sell'] > 0.01:
            cash += abs(-3 - position) * price
            candles.loc[i, 'ideal_position'] -= (3 - abs(position))
            position = -3                           


    return candles

In [36]:
candles_ = calculate_position_ideal(candles)

100%|██████████| 158532/158532 [00:56<00:00, 2825.40it/s]

In [28]:
candles_

Empty DataFrame
Columns: [index, bids, asks, timestamp, best_bid, best_ask, mid_price, returns, day, buy, sell, buy_stop_loss, buy_take_profit, sell_stop_loss, sell_take_profit, position, pnl, ideal_position, ideal_pnl]
Index: []

In [37]:
candles_.ideal_pnl.iloc[-1]

1710.0149999996793

In [38]:
candles.iloc[-1].PnL

279.4689918784652

In [136]:
candles.pnl

0         0
1         0
2         0
3         0
4         0
         ..
158527    0
158528    0
158529    0
158530    0
158531    0
Name: pnl, Length: 158532, dtype: int64

In [145]:

fig = make_subplots(
rows=4, cols=1,
specs=[[{"rowspan": 2, "colspan": 1}],
        [None],
        [{}],
        [{}]],
shared_xaxes=True)

columns_list = ['mid_price', 'buy', 'sell', 'sell_stop_loss',  'sell_take_profit', 'sell', 'buy_take_profit', 'buy', 'buy_stop_loss']

for column in columns_list:
    fig.append_trace(go.Scatter(x=candles_["timestamp"], y=candles_[column], name = str(column)), row = 1, col = 1)

fig.add_trace(go.Scatter(x=candles["timestamp"], y=candles['position'], name = 'Position'), row=3, col=1)
fig.add_trace(go.Scatter(x=candles_["timestamp"], y=candles_['ideal_pnl'], name = "PnL"), row=4, col=1)

fig.update_layout(height=1000, width=1000, title_text="Main Graph Ideal situation")
fig.write_html("test_ideal.html")
#fig.show()

In [146]:
candles.to_csv('candles.csv')

In [147]:
candles_.to_csv('candles_.csv')

In [148]:
candles_

,index,bids,asks,timestamp,best_bid,best_ask,mid_price,returns,day,buy,...,sell_take_profit,position,pnl,PnL,impacted_price,volume,traded,participation,ideal_position,ideal_pnl
0,86268,"[['28629.45000000', '3.76744000'], ['28628.960...","[['28629.46000000', '2.15412000'], ['28629.810...",2023-05-03 07:20:33.158957312,28629.45,28629.46,28629.455,0.0,1,28433.552318,...,28727.406341,0.000000e+00,0,NaN,NaN,70.27737,0.0,0.0,0,0.000
1,86269,"[['28629.45000000', '0.47884000'], ['28628.700...","[['28629.46000000', '1.87204000'], ['28629.810...",2023-05-03 07:20:34.160247808,28629.45,28629.46,28629.455,0.0,1,28433.552318,...,28727.406341,0.000000e+00,0,NaN,NaN,62.97544,0.0,0.0,0,0.000
2,86270,"[['28629.45000000', '0.47884000'], ['28628.700...","[['28629.46000000', '2.13002000'], ['28629.810...",2023-05-03 07:20:35.162092800,28629.45,28629.46,28629.455,0.0,1,28433.552318,...,28727.406341,0.000000e+00,0,0.000000,NaN,69.32184,0.0,0.0,0,0.000
3,86271,"[['28629.45000000', '0.43914000'], ['28628.700...","[['28629.46000000', '2.13002000'], ['28629.810...",2023-05-03 07:20:36.159456512,28629.45,28629.46,28629.455,0.0,1,28433.552318,...,28727.406341,0.000000e+00,0,0.000000,NaN,69.14976,0.0,0.0,0,0.000
4,86272,"[['28629.45000000', '2.23351000'], ['28629.400...","[['28629.46000000', '2.12444000'], ['28629.810...",2023-05-03 07:20:37.649022720,28629.45,28629.46,28629.455,0.0,1,28433.552318,...,28727.406341,0.000000e+00,0,0.000000,NaN,70.44764,0.0,0.0,0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158527,244795,"[['29225.73000000', '1.31605000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:56.419591168,29225.73,29225.74,29225.735,0.0,2,28433.552318,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,45.83004,0.0,0.0,0,1710.015
158528,244796,"[['29225.73000000', '1.31605000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:57.422107648,29225.73,29225.74,29225.735,0.0,2,28433.552318,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,48.59490,0.0,0.0,-3,1710.015
158529,244797,"[['29225.73000000', '1.31852000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:58.419087616,29225.73,29225.74,29225.735,0.0,2,28433.552318,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,41.77823,0.0,0.0,0,1710.015
158530,244798,"[['29225.73000000', '1.48612000'], ['29225.710...","[['29225.74000000', '2.35594000'], ['29225.750...",2023-05-05 05:03:59.423099904,29225.73,29225.74,29225.735,0.0,2,28433.552318,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,39.23988,0.0,0.0,-3,1710.015
158531,244799,"[['29225.73000000', '1.28348000'], ['29225.710...","[['29225.74000000', '2.36190000'], ['29225.750...",2023-05-05 05:04:00.424325120,29225.73,29225.74,29225.735,0.0,2,28433.552318,...,28727.406341,-1.119315e-11,0,279.468992,29225.73,46.70146,NaN,NaN,0,1710.015

In [26]:
def plot_pnl(candles):
    fig = make_subplots(
    rows=4, cols=1,
    specs=[[{"rowspan": 2, "colspan": 1}],
           [None],
           [{}],
           [{}]],
    shared_xaxes=True)

    columns_list = ['mid_price', 'buy', 'sell', 'sell_stop_loss',  'sell_take_profit', 'sell', 'buy_take_profit', 'buy', 'buy_stop_loss']

    for column in columns_list:
        fig.append_trace(go.Scatter(x=candles["timestamp"], y=candles[column], name = str(column)), row = 1, col = 1)

    fig.add_trace(go.Scatter(x=candles["timestamp"], y=candles['position'], name = 'Position'), row=3, col=1)
    fig.add_trace(go.Scatter(x=candles["timestamp"], y=candles['PnL'], name = "PnL"), row=4, col=1)

    fig.update_layout(height=1000, width=1000, title_text="Main Graph")
    fig.write_html("test.html")
    #fig.show()

In [115]:
plot_pnl(candles)

In [ ]:
def calculate_position(candles):

   bought = np.zeros(5) ### no positions during the week so far
   sold = np.zeros(5)   ### no positions during the week so far

   cash = 0

   for i in tqdm.tqdm(range(len(candles))):
      
      price = candles.loc[i, 'close']

      if i >= 2:
         candles.loc[i, 'position'] = candles.loc[i-1, 'position']
         candles.loc[i, 'PnL'] = candles.loc[i, 'position']*price + cash 

      time = candles.loc[i, "open_time"]
      pnl_was = candles.loc[i, 'PnL']
      ### execute some actions
      for j in range(5):
         if price < candles.loc[i,'buy_stop_loss_'+str(j)] and bought[j] != 0:                             
            cash += price * bought[j]
            pnl_now = candles.loc[i, 'PnL']
            level = candles.loc[i,'buy_stop_loss_'+str(j)]           
            #print(f'time is {time}, PnL was: {pnl_was:.3f}, Cash now: {cash:.3f}, Price is: {price:.3f}, Long stop-loss at level {level:.3f}')
            candles.loc[i, 'position'] -= bought[j]
            bought[j] = 0                                   
            
         if price > candles.loc[i, 'buy_take_profit_'+str(j)] and bought[j] != 0:
            cash += price * bought[j]
            pnl_now = candles.loc[i, 'PnL']
            level = candles.loc[i, 'buy_take_profit_'+str(j)]
            #print(f'time is {time}, PnL was: {pnl_was:.3f}, Cash now: {cash:.3f}, Price is: {price:.3f}, Long take profit at level {level:.3f}')
            candles.loc[i, 'position'] -= bought[j]
            bought[j] = 0                                              
            
         if price <  candles.loc[i, 'buy_limit_'+str(j)] and bought[j] == 0 and candles.loc[i, 'buy_limit_'+str(j)] > 0.01:
            bought[j] = 2000 / price
            candles.loc[i, 'position'] += bought[j]
            cash -= price * bought[j]
            pnl_now = candles.loc[i, 'PnL']
            level = candles.loc[i, 'buy_limit_'+str(j)]
            #print(f'time is {time}, PnL was: {pnl_was:.3f}, Cash now: {cash:.3f}, Price is: {price:.3f}, Long at level {level:.3f}')
                                 
         if price > candles.loc[i,'sell_stop_loss_'+str(j)] and sold[j] != 0:
            cash -= price * sold[j]
            pnl_now = candles.loc[i, 'PnL']
            level = candles.loc[i,'sell_stop_loss_'+str(j)]
            #print(f'time is {time}, PnL was: {pnl_was:.3f}, Cash now: {cash:.3f}, Price is: {price:.3f}, Short stop-loss at level {level:.3f}')
            candles.loc[i, 'position'] += sold[j] 
            sold[j] = 0
                                                               
            
         if price < candles.loc[i, 'sell_take_profit_'+str(j)] and sold[j] != 0:
            cash -= price * sold[j]
            pnl_now = candles.loc[i, 'PnL']
            level = candles.loc[i, 'sell_take_profit_'+str(j)]
            #print(f'time is {time}, PnL was: {pnl_was:.3f}, Cash now: {cash:.3f}, Price is: {price:.3f}, Short take-profit at level {level:.3f}')
            candles.loc[i, 'position'] += sold[j] 
            sold[j] = 0                                                 
            
         if price >  candles.loc[i, 'sell_'+str(j)] and sold[j] == 0 and candles.loc[i, 'sell_'+str(j)] > 0.01:               
            sold[j] = 2000 / price
            candles.loc[i, 'position'] -= sold[j]                       
            #candles.loc[i, 'PnL'] += price * sold[j]
            cash += price * sold[j]
            pnl_now = candles.loc[i, 'PnL']
            level = candles.loc[i, 'sell_'+str(j)]
            #print(f'time is {time}, PnL was: {pnl_was:.3f},  Cash now: {cash:.3f}, Price is: {price:.3f}, Short at level {level:.3f}')            
               
               
   return candles